<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 400px;border: 0.5px solid #52525B;margin: auto;border-radius: 16px;background: #FFF2E3;padding: 24px;box-sizing: border-box;">
      <div style="margin: auto;width: fit-content;"><img  src="./niftytrybe 1.png" alt=""></div>
       <div style="margin: auto;width: 80%;"><img style="width: 100%;" src="./Frame 427319551.png" alt=""></div>
       <div style="margin: auto;width: 80%;margin-top: 32px;"><img style="width: 100%;" src="./Frame 427319553.png" alt=""></div>

       <div style="padding: 12px;background: rgb(248, 235, 235);">
           <h3 style="text-align: center;"> Verification</h3>
        <div>
            <label style="display: inline-block;width: 45%; margin-right: 24px;" for="">
                <p style="font-size: 12px;margin-bottom: 0;">First name</p>
                <div
                    style="padding: 4px;border: 0.2px solid #52525B; background-color: white;font-size: 12px;border-radius: 4px;">
                    Onyedikachi</div>
            </label>
            <label style="display: inline-block; width: 45%;" for="">
                <p style="font-size: 12px;margin-bottom: 0;">Last name</p>
                <div
                    style="padding: 4px;border: 0.2px solid #52525B; background-color: white;font-size: 12px;border-radius: 4px;">
                    Obi</div>
            </label>
        </div>
        <div>
            <label style="display: inline-block;width: 45%; margin-right: 24px;" for="">
                <p style="font-size: 12px;margin-bottom: 0;">Email address</p>
                <div
                    style="padding: 4px;border: 0.2px solid #52525B; background-color: white;font-size: 12px;border-radius: 4px;">
                    123@456.com</div>
            </label>
            <label style="display: inline-block; width: 45%;" for="">
                <p style="font-size: 12px;margin-bottom: 0;">Phone Number</p>
                <div
                    style="padding: 4px;border: 0.2px solid #52525B; background-color: white;font-size: 12px;border-radius: 4px;">
                    Obi</div>
            </label>
        </div>
        <div>
            <label style="display: inline-block;width: 45%; margin-right: 24px;" for="">
                <p style="font-size: 12px;margin-bottom: 0;">Nationality</p>
                <div
                    style="padding: 4px;border: 0.2px solid #52525B; background-color: white;font-size: 12px;border-radius: 4px;">
                     Nigeria</div>
            </label>
            <label style="display: inline-block; width: 45%;" for="">
                <p style="font-size: 12px;margin-bottom: 0;">Govt. Id</p>
                <div
                    style="padding: 4px;border: 0.2px solid #52525B; background-color: white;font-size: 12px;border-radius: 4px;">
                    Obi
                </div>
            </label>
        </div>
        <label style="display: inline-block; width: 100%;" for="">
            <p style="font-size: 12px;margin-bottom: 0;">Social Links</p>
            <div style="padding: 4px;border: 0.2px solid #52525B; background-color: white;font-size: 12px;border-radius: 4px;margin-bottom: 12px;">
                ........
            </div><div style="padding: 4px;border: 0.2px solid #52525B; background-color: white;font-size: 12px;border-radius: 4px;margin-bottom: 12px;">
                .......
            </div><div style="padding: 4px;border: 0.2px solid #52525B; background-color: white;font-size: 12px;border-radius: 4px;margin-bottom: 12px;">
                .......
            </div><div style="padding: 4px;border: 0.2px solid #52525B; background-color: white;font-size: 12px;border-radius: 4px;margin-bottom: 12px;">
            .........
            </div>
        </label>
       </div>


    </div>
</body>
</html>