.dimension{
    display: flex;
    justify-content: space-between;
    >div{
        width: 32%;
    }

  input{
    padding: 10px !important;
  }
} 
.user{
    border: 1px solid #52525B;
    height: 66px;
        width: 287px;
       
        border-radius: 16px 0px;
        padding: 12px 16px 12px 16px;
        margin-bottom: 16px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        p{
            display: flex;
            align-items: center;
            gap: 12px;
            //styleName: Subtitles/subtitle 1 medium;
                font-family: Raleway;
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 0px;
                text-align: left;
                color:#100407;
        }
        span{
            color: #3CC13B;
            background-color: #E0F5E0;
            height: 27px;
                width: 79px;
                font-size: 12px;
                border-radius: 4px;
                padding: 4px 8px 6px 8px;
        }
}
 .buttons{
        display: flex;
        width: 100%;
        justify-content: space-around;
        button{
              width: 30%;
        }
    
    }