@import '../../variables';
@import '../../mixins';

.coverBx {
  img {
    width: 100%;
  }
}
.content {
  position: relative;
  width: 95%;
  max-width: 1300px;
  margin: auto;
}
.avatar {
  position: relative;
  //background: pink;
  @include flexRegular(row, center);
  img {
    position: absolute;
    top: -5em;
  }
}
.title {
  @include flexRegular(row, center);
  margin-top: 3em;
  h1 {
    // font-family: Neue-bold;
    font-size: 1.5em;
    font-weight: 700;
  }
  img {
    margin-left: 1em;
    cursor: pointer;
  }
}
.filters {
  margin: 4em auto 2em auto;
  width: 70%;
  @include flexRegular(row, space-between);
}
.filterItemA,
.filterItem,
.darkActive,
.lightActive {
  cursor: pointer;
  //border: 1px solid #000000;
  border: 1px solid gray;
  border-radius: 0px 6px;
  padding: 0.5em 2em;
}
.darkActive {
  background: $darkGradient;
  color: $darkTxt;
}
.lightActive {
  background: $mainGradient;
}
// .filterItemA {
//   background: $mainGradient;
// }
.items {
  //background: pink;
  margin: 3em 0;
  padding-bottom: 5em;
  @include flexRegular(column, center);
}
.itemContent {
  @include gridRegular(1em);
  grid-template-columns: 2fr 2fr 2fr;
  align-items: flex-start;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
  overflow-x: visible;
  height: 90vh;
}
.noContent {
  @include flexRegular(column, center);
}
.itemBx {
  margin-left: 0em;
}
.noResults {
  h2 {
    font-family: Neue-bold;
    margin-bottom: 1em;
  }
  .explore {
    cursor: pointer;
    @include flexRegular(row, center);
    transition: 0.2s ease-in;
    img {
      margin-left: 1em;
      transition: 0.2s ease-in;
    }
    // &:hover {
    //   img {
    //     margin-left: 2em;
    //   }
    // }
  }
}
