@import '../../variables';
@import '../../mixins';

// ----- CreateOptions
.createOptions {
  padding: 12em 0 2em 0;
}
.cOptContent1 {
  ///background: pink;
  width: 95%;
  margin: auto;
  max-width: 1300px;
  position: relative;
}
.cOptContent2 {
  //background: pink;
  width: 73%;
  margin: auto;
  max-width: 950px;
  position: relative;
}
.cOptTop {
  text-align: center;
  h1 {
    font-family: Neue-bold;
    font-size: 2.5em;
    margin-bottom: 0.5em;
    overflow: hidden;
    span {
      display: inline-block;
      transform: translateY(100%);
    }
  }
  p {
    overflow: hidden;
    span {
      display: inline-block;
      transform: translateY(100%);
    }
  }
}
.cOptTop2 {
  text-align: center;
  h1 {
    font-family: Neue-bold;
    font-size: 2.5em;
    margin-bottom: 0.5em;
    //overflow: hidden;
    //   span {
    //     display: inline-block;
    //     transform: translateY(100%);
    //   }
  }
}
.cOptBody {
  margin-top: 2em;
}
.optBoxes {
  width: 90%;
  margin: 5em auto;
  @include flexRegular(row, space-between);
  //background: pink;
}
.optBox {
  width: 20%;
  max-width: 250px;
}
.optBox2 {
  width: 45%;
  max-width: 420px;
  p {
    margin-top: 2em;
  }
}
.optBox {
  p {
    margin-top: 1em;
    //color: #000;
  }
}
.optBox,
.optBox2 {
  @include flexRegular(column, center);
  border: 1.5px solid #52525bb2;
  border-radius: 16px;
  cursor: pointer;
  height: 42vh;
  max-height: 310px;
  transition: 0.2s ease-in;
  border-radius: 16px;
  font-family: Neue-bold;
  font-size: 1.2em;

  &:hover {
    background: $mainGradient;
    transform: scale(1.03);
    p {
      color: #000;
    }
  }
}
.mg1 {
  margin-top: 1.5em !important;
}

// ----- CreateItem
.create {
  padding: 12em 0 2em 0;
}
.createContent {
  margin: auto;
  width: 80%;
  max-width: 1200px;
  @include flexRegular(row, flex-start);
  align-items: flex-start;
}
.left,
.right {
  width: 42.5%;
}

.leftTop {
  margin: 1em 0;
  h2 {
    font-family: Neue-bold;
    font-size: 1.8em;
  }
  p {
    font-weight: 400;
    margin-top: 1em;
  }
}
.fileContainerL,
.fileContainerD {
  margin-top: 2em;
  border: 1px dashed #52525b;
  border-radius: 0px 8px;
  padding: 4em;
  width: 100%;
  max-width: 494px;
  height: 62vh;
  max-height: 450px;
  @include flexRegular(column, center);
  font-family: Neue-bold;
  text-align: center;
  h3 {
    margin: 3em 0 0.5em 0;
  }
  img {
    cursor: pointer;
  }
}
.fileContainerL {
  background: #f4f4f5;
  p {
    color: #4d55a6;
  }
}
.fileContainerD {
  background: #18181b;
  p {
    color: #ffcc00;
  }
}

.right {
  margin-left: 15%;
  //background: cornsilk;
  overflow-y: scroll;
  overflow-x: visible;
  // Hide scrollbar //
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  //

  height: 95vh;
}
.fieldBx {
  margin-bottom: 1em;
  p {
    margin-bottom: 0.4em;
  }
}
