@import '../../variables';
@import '../../mixins';

// ----- Explore
.explore {
  padding: 12em 0 0em 0;
}

.exploreContent {
  //background: pink;
  width: 95%;
  margin: auto;
  max-width: 1300px;
  position: relative;
}

.exploreTop {
  text-align: center;

  h1 {
    font-family: Neue-bold;
    margin-bottom: 0.5em;
    overflow: hidden;

    span {
      display: inline-block;
      transform: translateY(100%);
    }
  }

  p {
    overflow: hidden;

    span {
      display: inline-block;
      transform: translateY(100%);
    }
  }

  .exploreCats {
    margin: 2em auto 1em auto;
    width: 75%;
    @include flexRegular(row, space-between);
  }

  .exploreCat,
  .darkActive,
  .lightActive {
    cursor: pointer;
    // border: 1px solid #000000;
    border: 1px solid gray;
    border-radius: 0px 6px;
    padding: 0.5em 2em;
  }

  .darkActive {
    background: $darkGradient;
    color: $darkTxt;
  }

  .lightActive {
    background: $mainGradient;
  }
}

.body {
  position: relative;
  margin-top: 3em;
  @include flexRegular(row, flex-start);
  align-items: flex-start;

  //background: lavender;
  .sideBar {
    width: 24%;
    min-width: 280px;
    height: auto;
    min-height: 100vh;
    //width: 315px;
    //height: 90vh;
    padding: 2em 1em;
    border: 1px solid #4d55a6;
    border-radius: 0px 8px;
    //top: 0;
    transition: 0.4s ease-in;
  }

  //   .sideBarScroll {
  //     position: fixed;
  //   }
}

.sideBarContent {
  padding: 0 2em;
  transition: 0.4s ease-in;
}

.sBItemA {
  //background: lavender;
  margin: 1em 0 1.5em -10px;
  @include flexRegular(row, flex-start);

  p {
    margin-left: 1em;
  }
}

.sBItem {
  position: relative;
  //background: lavender;
  //margin: 2em 0 3em 0;
  cursor: pointer;
  margin: 3em 0;
  @include flexRegular(row, flex-start);

  img {
    margin-left: 1em;
  }

  p {
    font-weight: 300;

  }
}

.filterBxL,
.filterBxD {
  background: #fff;
  border: 1px solid #52525B;
  border-radius: 4px;
  padding: 1.5em 1.5em 1.5em 1.5em;
  @include flexRegular(column, center);
  align-items: flex-start;

  // p {
  //   background: pink;
  //   margin-right: 2em;
  // }
}

.filterBxL {
  background: #fff
}

.filterBxD {
  background: #A7A9B9;
}

.filterItem1,
.filterItem {
  position: relative;
  @include flexRegular(row, flex-start);

  .radioBx {
    background: pink;
    margin-left: 6em;
  }

  p {
    white-space: nowrap;
    // margin-right: 6.5em;
  }

  .filterTxt {
    //background: pink;
    width: 90px;
  }
}



/* Special radio */
.pbRadio {
  margin-left: 80px;

}

.pbRadio input {
  position: absolute;
  z-index: 2;
  opacity: 0;
  height: 50px;
  width: 120px;
  cursor: pointer;
  //background: pink;
  top: 0;
  right: 0;
}

.pbRadio input:checked~.checkmark {
  background-color: #fff;
}

.checkmark {
  //margin-right: 4em;
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.295);
  top: 0;
  right: 3em;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.pbRadio input:checked~.checkmark:after {
  display: block;
  //border: 1px solid #4D55A6;
}

.pbRadio .checkmark:after {
  top: 5.6px;
  left: 4.3px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  //background: #6548C3;
  background: #4D55A6;
}

/* */



.filterItem {
  margin-top: 2em;
}


.itemsContainer {
  width: 76%;
  max-width: 1500px;
  margin-left: 1em;

  .itemsContent {
    // @include flexRegular(row, flex-start);
    //background: pink;
    @include gridRegular(1em);
    grid-template-columns: 2fr 2fr 2fr;
    align-items: flex-start;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow-y: scroll;
    overflow-x: visible;
    height: 90vh;
  }

  .noContent {
    @include flexRegular(column, center);
  }

  .itemBx {
    margin-left: 0em;
    //width: 100%;
    //width: 285px;
    //background: pink;
    //margin-right: 2em;
  }
}

.noResults {
  @include flexRegular(column, center);
  //background: pink;
  width: 100%;

  h2 {
    font-family: Neue-bold;
    margin-bottom: 1em;
  }

  .exploreM {
    cursor: pointer;
    @include flexRegular(row, center);
    transition: 0.2s ease-in;

    img {
      margin-left: 1em;
      transition: 0.2s ease-in;
    }
  }
}