//$darkBg: #0b0b0bf2;
$darkBg: #18181b;
$yellowMain: #ffcc00;
$yellowDark: #d8ad02f5;
$blueMain: #222751;
$blueHover: #4d55a6;
$blueOther: #2b2e4e;
$grayed: rgb(230, 225, 225);

$testColor: lavender;
$testColor2: pink;
// macbook width 1280
